@import '../../../styles-variables.scss';

.navbar-custom {
  background-color: #212529;
  color: white;
  box-shadow: 0px -20px 10px #4645413d inset;
  height: $navrbar-height-margin-top;
  a {
    color: #c7bfa5;
    cursor: pointer;
  }
}

.navbar-brand{
  background-color: #bdbaaf;
  padding: 5px 10px;
  border: 4px solid #f1eee4;
  color: #7e7c76;
  text-shadow: 0px 1px 0px #e9e5d6;
  border-radius: 9px;
  box-shadow: 0px 0px 9px #3c3333fa;
  font-weight: bold;
}
