div:first-child {
  min-width: 370px;
  padding: 20px;
}

.btnRadius0 {
  border-radius: 0px;
}
@media (max-width: 568px) {
  div:first-child {
    min-width: 420px;
    padding: 0px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;

  .flex-container1 {
    display: flex;
    flex-basis: 200px;
    flex-wrap: nowrap;
  }

  .left-panel {
    flex: 1;
    background-color: #dddfdf;
    padding: 30px 10px;
    flex-basis: 100px;

    label {
      display: none;
    }

    input {
      display: flex;
    }

    input[type="text"] {
      min-width: 150px;
    }

    input[type="button"] {
    }
  }
  .right-panel {
    flex: 5;
    background-color: #ecf9f9;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;

    .city-name {
      font-size: 85px;
      word-spacing: 29;
      display: flex;
      justify-content: center;
      background-color: rgba(190, 179, 127, 0);
    }

    .div-img {
      display: flex;
      justify-content: center;

      img {
        width: 130px;
        padding: 30px 0px;
      }
    }

    .description {
      display: flex;
      background-color: rgba(50, 197, 148, 0);
      justify-content: center;
      margin: 0;
      font-size: 40px;
    }

    .temprature {
      display: flex;
      justify-content: center;
      margin: 0;
      font-size: 95px;
      font-weight: lighter;
      margin-top: 40px;
    }

    .temprature::after {
      font-size: 30%;
      vertical-align: top;
      content: "o C";
    }

    .other-item {
      margin: 10px;
      font-size: 28px;
      display: flex;
      justify-content: center;
    }
  }
}

// .btnRadius0{
//   border-radius: 0px;
// }
// .flex-container {
//   display: flex;
//   flex-wrap: wrap;
//   flex: 0 1 100px;

//   .left-panel {
//     background-color: aqua;
//     padding: 20px 10px;
//     flex-basis: 20%px;
//   }
//   .right-panel {
//     display: flex;
//     flex-basis: 80%;
//     background-color: brown;
//     .header {
//       flex-direction: column;
//       font-size: 45px;
//       display: flex;
//       flex-basis: 100%;
//       justify-content: center;

//       span {
//         flex-direction: column;
//         justify-content: center;
//         background-color: aquamarine;

//         .city-name {
//           font-size: 85px;
//           word-spacing: 29;
//           display: flex;
//           justify-content: center;
//           background-color: rgb(190, 179, 127);
//         }

//         .div-img {
//           display: flex;
//           justify-content: center;

//           img {
//             width: 130px;
//             padding: 30px 0px;
//           }
//         }

//         .description {
//           display: flex;
//           background-color: rgb(50, 197, 148);
//           justify-content: center;
//           margin: 0;
//           font-size: 40px;
//         }
//       }

//       .temprature {
//         display: flex;
//         justify-content: center;
//         margin: 0;
//         font-size: 95px;
//         font-weight: lighter;
//         margin-top: 40px;
//       }

//       .temprature::after {
//         font-size: 30%;
//         vertical-align: top;
//         content: "o C";
//       }

//       .other-item {
//         margin: 10px;
//         font-size: 28px;
//         display: flex;
//         justify-content: center;
//       }
//     }
//   }

// }
