<div *ngIf="weather$ | async as weather" class="container-grid">
  <img
    class="img-bg"
    src="../../../../assets/backgrounds/{{ weatherImg | lowercase }}.jpg"
    alt=""
  />
  <nav>
    <div class="m-2">
      <!---: Left Navigation -->
      <div class="left-panel" *ngIf="city$ | async as city2">
        <label for="select-city" class="form-label">City</label>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="flex-container-input-city">
            <input
              type="text"
              class="item"
              class="form-control"
              id="city"
              [(ngModel)]="city"
              formControlName="city"
              aria-describedby="city"
              placeholder="Enter city name"
            />

            <input type="submit" class="item btn btn-secondary btnRadius0" />
          </div>
        </form>
        <hr />
        <!-- <select
        id="select-city"
        class="form-select"
        [(ngModel)]="citySelected"
        (change)="selectChanged()"
        aria-describedby="select"
      >
        <option value="SelectaCity" disabled>Select a City</option>
        <option *ngFor="let c of city2">
          {{c}}
        </option>
        <option class="option-other">Other</option>
      </select> -->

        <ul>
          <li *ngFor="let c of city2">
            <a href="#" (click)="selectClicked($event)">{{ c }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <!---: Main -->
    <div class="right-panel" *ngIf="weather != undefined" >
      <p class="city-name">{{ weather.name }}</p>
      <div class="div-img">
        <img src="../../../assets/{{ weatherImg | lowercase }}.png" alt="" />
      </div>

      <div *ngIf="weather.weather != undefined && weather.weather.length > 0">
        <p class="description">
          {{ weather.weather[0].description | uppercase }}
        </p>
      </div>

      <div *ngIf="weather.main != undefined && weather.main.temp != undefined">

        <div class="div-temp-flex-container">
        <p class="temp">{{ weather.main.temp | temparatureCelcius }}</p>

        <div class="div-temp-flex-items">
          <span class="temp_feels_like"
            >Feels Like:
            {{ weather.main.feels_like | temparatureCelcius }}</span
          >
          <span class="temp_feels_like"
            >Min: {{ weather.main.temp_min | temparatureCelcius }}</span
          >
          <span class="temp_feels_like"
            >Max: {{ weather.main.temp_max | temparatureCelcius }}</span
          >
        </div>
      </div>
      
    </div>
    <div *ngIf="weather.wind != undefined" >
      <div class="other-item" *ngIf="weather.wind.speed">
        Wind Speed: {{ weather.wind.speed }} m/h

        {{ weather.wind.deg | windDirection }}
      </div>

      <div class="other-item" *ngIf="weather.wind.gust">
        Wind Gust: {{ weather.wind.gust }} m/h
      </div>
      <div class="other-item">Humidity: {{ weather.main.humidity }}</div>
    </div>
  </div>
  </main>
  <aside>Sidebar</aside>
  <footer>footer</footer>
</div>
