@import "../../../../styles-variables.scss";

.navbar-brand {
  background-color: #98a9c3;
  color: #e5e9ef;
  height: 42px;
}

.container-fluid {
  background-color: #c8d2d4;
  height: $body-height;
  overflow-y: hidden;
}
.container {
  min-width: 370px;
  width: 100%;
  margin-top: 60px !important;
}

.btnRadius0 {
  border-radius: 0px;
}

@media (max-width: 1000px) {
  .container {
    margin-top: -12px;
    padding: 0px !important;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 15px solid #6c757d52;
  outline: 1px solid gray;
  box-shadow: 0px 0px 25px #b1abab;

  
  label {
    display: none;
  }

  .left-panel {
    flex: 2;
    background-color: #dddfdf;
    padding: 0px;
    max-height: 650px;


    .flex-container-input-city {
      display: flex;
      justify-content: start;
      padding: 1px 10px 10px 10px;

      input {
        display: flex;
      }

      input[type="text"] {
        min-width: 150px;
        text-transform: capitalize;
      }

      

      input[type="submit"] {
        background-color: #0b3066;
      }
    }
  }

  .option-other {
    background-color: #d1d1d1 !important;
  }

  .right-panel {
    flex: 6;
    background-color: #a7c9fb;
    color: var(--bs-body-color);
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;

    .city-name {
      font-size: 78px;
      word-spacing: 29;
      display: flex;
      justify-content: center;
      background-color: rgba(190, 179, 127, 0);
    }

    .div-img {
      display: flex;
      justify-content: center;

      img {
        width: 130px;
        padding: 0px 0px 30px 0px;
      }
    }

    .description {
      display: flex;
      background-color: rgba(50, 197, 148, 0);
      justify-content: center;
      margin: 0;
      font-size: 20px;
    }
    .div-temp-flex-container {
      display: flex;
      justify-content: center;
      .temp {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 95px;
        font-weight: lighter;
        margin-top: 40px;
      }

      .temp::after {
        font-size: 30%;
        vertical-align: top;
        content: "o C";
      }

      .div-temp-flex-items {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        margin-left: 10px;

        .temp_feels_like {
          display: flex;
          justify-content: center;
          margin: 0;
          font-size: 17px;
          font-weight: lighter;
          margin-bottom: -1px;
          align-items: flex-start;
          border-bottom: 1px solid rgb(212, 212, 212);
        }

        .temp_feels_like::after {
          font-size: 50%;
          vertical-align: top;
          content: "o C";
        }
      }
    }

    .other-item {
      margin: 10px;
      font-size: 18px;
      color: #555d5f;
      display: flex;
      justify-content: center;
      margin: auto;

      .flex-sunRiseSet-container {
        display: flex;
        justify-content: center;
        color: black;
        strong {
          background: #9dbbe7;
          padding: 1px 3px;
        }

        img {
          width: 44px;
          margin-top: -15px;
        }
      }
    }

    svg {
      margin-left: 117px;
      background-color: #dddfdf;
      width: 27px;
      height: 27px;
      padding: 5px;
      position: absolute;
      margin-top: 1px;
      border: 1px solid #b2b7b7;
      border-radius: 25px;
      box-shadow: -3px -6px 7px 0px #a2a5a5 inset;

      .wind-direction {
        transform: rotate(270deg);
        transform-origin: 50% 50%;
        font-size: 32px;
        color: rgb(20, 41, 41);
        font-weight: bolder;
      }
    }

    .navbar-custom1 {
      background-color: #797872;
      height: 40px;

      ul {
        flex-direction: row;
        li {
          width: -moz-fit-content;
          border-right: 1px solid #8f8d86;
          padding: 1px 8px;
          -moz-width: fit-content;
        }
        li:hover {
          background-color: #b1b1af;
        }
      }

      a {
        color: white;
        cursor: pointer;
      }
    }
  }
}
